:root {
    --cor-fundo: #1E1E1E; /* Fundo da página - quase preto */
    --cor-container: #2C2C2C; /* Fundo dos containers - cinza escuro */
    --cor-borda: #4F4F4F; /* Borda - cinza médio */
    --cor-borda-escura: #666666; /* Cor da borda da última linha - cinza médio */
    --cor-texto: #E0E0E0; /* Texto - cinza claro */
    --cor-cabecalho: #3A3A3A; /* Cor de fundo do cabeçalho da tabela - cinza escuro */
    --cor-borda-cabecalho: #666666; /* Cor da borda inferior do cabeçalho - cinza médio */
    --cor-borda-ultima-linha: #666666; /* Cor da borda da última linha - cinza médio */
    --cor-fundo-formulario: #E6E6FA;; /* Fundo do formulário - cinza escuro */
    
}

html {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif; /* Fonte padrão */
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-fundo);
    padding: 2em; /* Distância das laterais */
    width: 100%;
    height: auto;
    gap: 32px;
    margin: 0;
    color: var(--cor-texto);
    justify-content: center;
    line-height: 1.6; /* Altura das linhas */
}

section{
    display: flex;
    flex-direction: row;
}

header, main {
    background-color: var(--cor-container);
    padding: 12px;
    border-radius: 8px;
    border: 2px solid var(--cor-borda);
}

table {
    width: 100%;
    border-collapse: collapse; /* Colapsa bordas */
}

th {
    background-color: var(--cor-cabecalho);
    border-bottom: 3px solid var(--cor-borda-cabecalho);
    text-align: justify; /* Alinhamento do texto no cabeçalho */
    padding: 20px; /* Padding do cabeçalho */
    font-size: 1em; /* Tamanho da fonte no cabeçalho */
}

td {
    
    vertical-align: top; /* Alinhamento vertical para o topo */
    word-wrap: break-word; /* Quebra de palavras automática */
    text-align: justify; /* Alinhamento horizontal justificado */
    border-bottom: 1px solid transparent; /* Borda inferior padrão */
    font-size: 1em;
    text-align: justify;
}
td a {
    display: block;
    padding: 20px; /* Padding das células */ 
 }

td .btn{
    margin-top: 12px;
} 


tr:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Cor de fundo ao selecionar a linha */
}

tr:last-child td {
    border-bottom: 1px solid var(--cor-borda-ultima-linha); /* Borda inferior da última linha */
}

label{
    font-weight: bold; /* Labels em negrito */
}

input, textarea, select {
    font-size: 1.5em; /* Tamanho da fonte */
    padding: 5px; /* Padding dos campos */
    border: 1px solid var(--cor-borda-escura); /* Borda sólida */
    border-radius: 10px;
    outline: none;
    background-color: var(--cor-fundo-formulario); /* Cor de fundo padrão */
}

.data-value{
    font-size: 1.5em;
    margin-left: 10px;
}

#data-comprovante {
    margin-left: auto;
    width: 330px;
    padding: 10px;
    border: 2px solid var(--cor-borda);
    border-radius: 10px;
    background-color: var(--cor-container);
    color: var(--cor-texto);
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bolder;
    transition: background-color 0.3s ease;
    text-align: center;
}

.data-label{
    font-size: 1.5em;
}

.data-field{
    background-color: var(--cor-borda-escura);
    margin-top: 16px;
    padding: 4px;
    border-radius: 8px;
}

textarea{
    min-height: 150px;
}

input:focus, textarea:focus, select:focus {
    background-color: var(--cor-fundo-formulario); /* Cor de fundo em destaque ao preencher */
}

.container_header_options a {
    color: var(--cor-borda);
    text-decoration: none;
    margin-bottom: 8px;
}

.form-fields {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.notValid {
    border: 2px solid red;
}



/* Estilo adicional */
p, td, span, div {
    line-height: 1.6; /* Aumenta o espaçamento padrão */
    font-family: Arial, sans-serif; /* Garante a mesma fonte para todo o conteúdo */
}

/* tamanho dos main */
.form{
    width: 30%;
}
.data{
    width: 70%;
}

.data-field{
    display: flex;
}


/* botao do formulário */
#submitForm button{
    margin-top: 32px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid var(--cor-borda);
    font-size: 1.6em;
    color: #fff;
    background-color: var(--cor-container);
    cursor: pointer;
}
#submitForm button:hover{
    background-color: var(--cor-borda);
}

#data-arquivo_comprovante{
    width: auto;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 1.6em;
    color: #fff;
    background-color: var(--cor-container);
    cursor: pointer;
    margin-left: auto;
}

#data-arquivo_comprovante:hover{
    background-color: var(--cor-borda);
}

#btn-delete {
    margin-left: 32px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid var(--cor-borda);
    font-size: 1.6em;
    color: #fff;
    background-color: var(--cor-container);
    cursor: pointer;
}
#btn-delete:hover{
    background-color: var(--cor-borda);
}

/* Estilização do modal */
.modal {
    width: 0;
    height: 0;
    display: flex;
    position: absolute;
    visibility: hidden;
}

.active {
    width: 100%;
    height: 100%;
    top: 0;
    visibility: visible;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}
.modalContainer{
    position: relative;
    top: -20%;
    margin: 0 auto;
    width: auto;
    height: auto;
    max-width: 500px;
    height: 150px;
}

.modal .button-close{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: var(--cor-container);
    color: var(--cor-texto);
    border: none;
    border-radius: 8px;
    padding: 2px;
    cursor: pointer;
}

.modalContent {
    word-wrap: break-word;
}

.modalContent {
    background-color: var(--cor-container);
    padding: 20px;
    border-radius: 8px;
    border: 2px solid var(--cor-borda);
    width: 100%;
    text-align: center;
}

/* botao de deletar */
.btn-danger {
    background-color: #dc3545; /* Cor de fundo vermelha */
    color: white; /* Cor do texto branca */
    border: none; /* Sem borda */
    border-radius: 4px; /* Bordas arredondadas */
    padding: 10px 20px; /* Padding */
    cursor: pointer; /* Cursor de ponteiro */
    font-size: 1em; /* Tamanho da fonte */
    font-weight: 700;
    transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
    z-index: 2;
    position: relative;
}

.btn-primary {
    background-color: var(--cor-fundo);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    transition: background-color 0.3s ease;
    z-index: 2;
    position: relative;
}

.btn-primaty:hover {
    background-color: var(--cor-container); /* Cor de fundo ao passar o mouse */
}
.btn-danger:hover {
    background-color: #c82333; /* Cor de fundo ao passar o mouse */
}

.btn-danger:active {
    background-color: #bd2130; /* Cor de fundo ao clicar */
}

.btn-danger:focus {
    outline: none; /* Remove o destaque ao focar */
}